body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: "Open Sans", sans-serif;
}

main {
	display: flex;
	flex: 1;
}

header {
	background-color: #23282D;
}

header h1 {
	color: #fff;
	font-size: 1em;
	text-align: center;
}

#sidebar {
	width: 225px;
	flex: 0 0 12em;
	background-color: #23282D;
}

#sidebar ul {
	padding: 0;
	list-style-type: none;
}

#sidebar ul li {
	color: #eee;
	padding: 0 0 10px 20px;
}

#sidebar ul li:hover {
	cursor: pointer;
	background-color: #32373C;
}

#post-container {
	flex: 1;
	background-color: #eee;
	padding: 20px;
}

blockquote {
	font-style: italic;
	margin: 1em 1em 1em 0;
}

blockquote:before, blockquote:after {
	content: '"';
}

.author {
	width: 100%;
	display: inline-block;
	text-indent: 5%;
}

.author:before {
	content: '-';
}

.wrapper{ text-align: center; }

.clear { clear: both; }
